<div class="bg-[#111827] p-10 xl:p-20">
    <div class="flex flex-wrap xl:flex-nowrap justify-start gap-10 xl:gap-20 mb-15">
        <div class="xl:w-[20%]">
            <p class="font-bold text-3xl text-white mb-2 poppins">Calton Datx</p>
            <p class="text-md text-[#2f6aec] mb-3">AI ANALYTICS</p>
            <p class="text-gray-400 text-md">Transforming audience measurement through artificial intelligence and advanced analytics.</p>
        </div>

        <div class="xl:w-[20%] flex flex-col">
            <a [routerLink]="['/']" class="font-bold text-lg text-white mb-2">Home Page</a>
            <a [routerLink]="['/']" class="text-gray-400 text-md">Real time Data</a>
            <a [routerLink]="['/']" class="text-gray-400 text-md">Artificial Intelligence Meets Audience Measurement</a>
            <a [routerLink]="['/']" class="text-gray-400 text-md">Testimonials</a>
            <a [routerLink]="['/']" class="text-gray-400 text-md">Latest Insights</a>
        </div>
        <div class="xl:w-[20%] flex flex-col">
            <a class="font-bold text-lg text-white mb-2">Solutions</a>
            <a [routerLink]="['/solutions']" class="text-gray-400 text-md">People Analytics</a>
            <a [routerLink]="['/solutions']" class="text-gray-400 text-md">Vehicle Analytics</a>
            <a [routerLink]="['/solutions']" class="text-gray-400 text-md">Dashboard</a>
            <a [routerLink]="['/solutions']" class="text-gray-400 text-md">Hardware & Platform Integration</a>
            <a [routerLink]="['/solutions']" class="text-gray-400 text-md">Security</a>
        </div>

        <div class="xl:w-[20%] flex flex-col">
            <a class="font-bold text-lg text-white mb-2">Industries</a>
            <a [routerLink]="['/industries']" class="text-gray-400 text-md">Industry Coverage</a>
            <a [routerLink]="['/industries']" class="text-gray-400 text-md">Calton Path & Calton Reach</a>
            <a [routerLink]="['/industries']" class="text-gray-400 text-md">Results</a>
        </div>

        <div class="xl:w-[20%] flex-col hidden">
            <a class="font-bold text-lg text-white mb-2">Resources</a>
            <a [routerLink]="['/resources']" class="text-gray-400 text-md">Insights</a>
            <a [routerLink]="['/resources']" class="text-gray-400 text-md">Case Studies</a>
            <a [routerLink]="['/resources']" class="text-gray-400 text-md">Whitepaper</a>
            <a [routerLink]="['/resources']" class="text-gray-400 text-md">Industry Report</a>
        </div>

        <div class="xl:w-[20%] flex flex-col">
            <a class="font-bold text-lg text-white mb-2">Company</a>
            <a [routerLink]="['/about']" class="text-gray-400 text-md">About Us</a>
            <a [routerLink]="['/get-started']" class="text-gray-400 text-md">Contact</a>
        </div>
    </div>
    <hr class="my-6 border-t border-gray-600"/>

    <div class="flex flex-wrap xl:flex-nowrap xl:justify-between justify-center-safe">
        <p class="text-md text-gray-400">© 2024 Calton Datx. All rights reserved.</p>

        <div class="flex xl:justify-around justify-center gap-5 xl:gap-0 xl:w-[15%] w-full text-md text-gray-400">
            <span class="cursor-pointer" (click)="showModal = true">Privacy</span>
            <span>Terms</span>
            <span>Security</span>
        </div>
    </div>
</div>
<app-modal 
  [open]="showModal" 
  title="Privacy Policy"
  (close)="showModal = false"
>
  <app-privacy-policy/>
</app-modal>