<div class="bg-[#111827] p-10 xl:p-20">
    <div class="flex flex-wrap xl:flex-nowrap justify-start gap-10 xl:gap-20 mb-15">
        <div class="xl:w-[20%]">
            <p class="font-bold text-3xl text-white mb-2 poppins">Calton Datx</p>
            <p class="text-md text-[#2f6aec] mb-3">AI ANALYTICS</p>
            <p class="text-gray-400 text-md">Transforming audience measurement through artificial intelligence and advanced analytics.</p>
        </div>

        <div class="xl:w-[20%]">
            <p class="font-bold text-lg text-white mb-2">AI Solutions</p>
            <p class="text-gray-400 text-md">People Analytics</p>
            <p class="text-gray-400 text-md">Vehicle Intelligence</p>
            <p class="text-gray-400 text-md">Predictive Insights</p>
            <p class="text-gray-400 text-md">Real-time Processing</p>
        </div>
        <div class="xl:w-[20%] w-full">
            <p class="font-bold text-lg text-white mb-2">Industries</p>
            <p class="text-gray-400 text-md">Retail & Consumer</p>
            <p class="text-gray-400 text-md">Media & Advertising</p>
            <p class="text-gray-400 text-md">Smart Cities</p>
            <p class="text-gray-400 text-md">Transportation</p>
        </div>

        <div class="xl:w-[20%]">
            <p class="font-bold text-lg text-white mb-2">Company</p>
            <p class="text-gray-400 text-md">About Us</p>
            <p class="text-gray-400 text-md">Careers</p>
            <p class="text-gray-400 text-md">Press</p>
            <p class="text-gray-400 text-md">Contact</p>
        </div>

        
    </div>
    <hr class="my-6 border-t border-gray-600"/>

    <div class="flex flex-wrap xl:flex-nowrap xl:justify-between justify-center-safe">
        <p class="text-md text-gray-400">© 2024 Calton Datx. All rights reserved.</p>

        <div class="flex xl:justify-around justify-center gap-5 xl:gap-0 xl:w-[15%] w-full text-md text-gray-400">
            <span>Privacy</span>
            <span>Terms</span>
            <span>Security</span>
        </div>
    </div>
</div>