<app-navigation-bar [active]="'about'"/>

<div class="bg-[#27374e] text-white p-5 pt-20 pb-30 xl:p-20 xl:pb-40 inter">
    <div class="grid gap-8 xl:w-[50%]">
        <p class="text-md font-light">Home / About</p>
        <span class="text-5xl xl:text-7xl font-light">About <span class="font-semibold">Calton Datx</span></span>

        <p class="font-light text-xl xl:text-2xl">
            Redefining audience measurement through intelligent, cloud-based analytics that transform raw movement into actionable media strategy.
        </p>
    </div>
</div>
<div class="pl-5 pr-5 xl:pl-20 xl:pr-20 pt-20 inter">
    <span class="text-3xl xl:text-5xl font-light">Commited to <span class="font-semibold">Excellence</span></span>
</div>
<div class="flex flex-wrap xl:flex-nowrap justify-between xl:gap-20 pl-5 pr-5 xl:pl-20 xl:pr-20 pb-10 inter">
    <div class="xl:w-[50%]">
        <p class="font-light text-md xl:text-xl mt-7">
            Calton Datx is committed to redefining audience measurement through intelligent, cloud-based analytics. 
            Our goal is to provide media owners, marketers, and advertisers with up-to-date, data-driven insights that optimize campaign success, 
            increase viewer engagement, and boost return on investment. 
        </p>
        <div class="flex justify-evenly mt-10">
            <div class="text-center">
                <p class="text-3xl text-[#2563eb] font-bold">99.9%</p>
                <p class="text-md text-gray-600">UPTIME</p>
            </div>
            <div class="text-center">
                <p class="text-3xl text-[#2563eb] font-bold">Real-time</p>
                <p class="text-md text-gray-600">ANALYTICS</p>
            </div>
        </div>
    </div>

    <div class="xl:w-[50%] mt-20 xl:mt-0">
        <img class="w-[7%] mb-10 hidden lg:block xl:block 2xl:block" src="/assets/icons/signal.webp" alt="">
        <p class="text-2xl font-semibold">Data-Driven Intelligence</p>
        <p class="text-lg font-light mt-5">
            Our cloud-based platform delivers precise audience insights that empower smarter media decisions and measurable business outcomes.
        </p>
    </div>
</div>

<div class="pt-30 xl:pt-40 pl-5 pr-5 xl:pl-70 xl:pr-70 xl:pb-70 inter">
    <div class="grid gap-8">
        <span class="text-4xl xl:text-5xl font-light text-center mb-5 xl:mb-10">Built on <span class="font-semibold">What Matters</span></span>
        <p class="font-light text-lg xl:text-xl">
            Our modern tools and AI-powered metrics system help us close the gap between digital precision and traditional advertising. 
            Calton Datx offers a complete analytics suite intended for the future of media performance, 
            whether you're monitoring car impressions or pedestrian foot traffic. 
        </p>
        <p class="font-light text-lg xl:text-xl">
            With real-time data, customizable dashboards, and location intelligence, we turn raw movement into actionable strategy. 
            Brands can now measure impact, optimize placements, and justify ROI with confidence, 
            all while staying ahead of shifting consumer behaviors. At Calton Datx, 
            we don't just track audience movement—we translate it into media that moves results.
        </p>
        
        <div class="flex flex-wrap xl:flex-nowrap gap-10 justify-between mt-5">
            <div class="grid gap-2 items-center justify-items-center text-center w-full">
                <img src="/assets/icons/lightning-square.webp" class="w-[60px] h-[60px] mb-5" alt="">
                <p class="font-bold text-xl">Real-time Data</p>
                <p class="text-md text-gray-600">Instant insights for immediate optimization</p>
            </div>
            <div class="grid gap-2 items-center justify-items-center text-center w-full">
                <img src="/assets/icons/signal-purple.webp" class="w-[60px] h-[60px] mb-5" alt="">
                <p class="font-bold text-xl">Custom Dashboards</p>
                <p class="text-md text-gray-600">Tailored views for your specific needs</p>
            </div>
            <div class="grid gap-2 items-center justify-items-center text-center w-full">
                <img src="/assets/icons/location.webp" class="w-[60px] h-[60px] mb-5" alt="">
                <p class="font-bold text-xl">Location Intelligence</p>
                <p class="text-md text-gray-600">Precise geographic insights and targeting</p>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap xl:flex-nowrap justify-between gap-20 xl:gap-20 pl-5 pr-5 pt-30 xl:pt-0 xl:pl-20 xl:pr-20 pb-10 inter">
    <div class="grid gap-10 xl:w-[50%]">
        <p class="text-gray-600 text-md font-light">OUR VISION</p>
        <p class="text-2xl xl:text-4xl 2xl:text-4xl font-semibold">Leading the Future of Audience Intelligence</p>
        <p class="font-light text-xl">
            To be the most reliable and innovative supplier of audience intelligence, giving media owners, agencies, 
            and brands precise, up-to-date information that promotes more informed choices and maximizes engagement. 
        </p>
    </div>

    <div class="grid gap-5 xl:w-[50%]">
        <p class="text-gray-600 text-md font-light">OUR MISSION</p>
        <p class="text-2xl xl:text-4xl 2text-4xl font-semibold">Transforming Data into Actionable Strategy</p>
        <p class="font-light text-xl">
            Our goal is to use leading-edge technology and analytics to provide accurate, transparent, and useful audience measuring solutions. 
            By gathering authentic human experiences across platforms, offering profound insights into audience behavior and trends, 
            and facilitating data-driven strategies that generate relevance, growth, and quantifiable effect, we hope to raise the bar for media responsibility.
        </p>
    </div>
</div>

<div class="pt-40 pl-5 pr-5 xl:pl-20 xl:pr-20 pb-70 inter">
    <div class="grid gap-8 pl-10 pr-10 xl:pl-30 xl:pr-30 pb-20 text-center">
        <span class="text-3xl xl:text-5xl font-light text-center">How It <span class="font-semibold">Works</span></span>
        <p class="font-light text-lg xl:text-xl">
            Our modern tools and AI-powered metrics system help us close the gap between digital precision and traditional advertising. 
            Calton Datx offers a complete analytics suite intended for the future of media performance, 
            whether you're monitoring car impressions or pedestrian foot traffic. 
        </p>
    </div>
    <div class="xl:pl-20 xl:pr-20">
        <p class="font-light text-lg xl:text-xl">
            Our goal is to use leading-edge technology and analytics to provide accurate, transparent, and useful audience measuring solutions. By gathering authentic human experiences across platforms, offering profound insights into audience behavior and trends, and facilitating data-driven strategies that generate relevance, growth, and quantifiable effect, we hope to raise the bar for media responsibility. 
        </p>
    </div>

    <div class="flex flex-wrap xl:flex-nowrap justify-between gap-10 mt-10">
        <div class="grid gap-4 items-center text-center justify-items-center w-full">
            <div class="w-17 h-17 bg-[#2563eb] rounded-full text-white flex items-center justify-center text-xl font-bold">
                1
            </div>
            <p class="font-bold text-xl">Data Collection</p>
            <p class="text-md text-gray-600">Gather authentic human experiences across multiple platforms and touchpoints</p>
        </div>
        <div class="grid gap-4 items-center text-center justify-items-center w-full">
            <div class="w-17 h-17 bg-[#9333ea] rounded-full text-white flex items-center justify-center text-xl font-bold">
                2
            </div>
            <p class="font-bold text-xl">Advanced Analytics</p>
            <p class="text-md text-gray-600">Apply cutting-edge technology to analyze patterns and behaviors</p>
        </div>
        <div class="grid gap-4 items-center text-center justify-items-center w-full">
            <div class="w-17 h-17 bg-[#16a34a] rounded-full text-white flex items-center justify-center text-xl font-bold">
                3
            </div>
            <p class="font-bold text-xl">Actionable Insights</p>
            <p class="text-md text-gray-600">Transform raw data into strategic recommendations and clear insights</p>
        </div>
        <div class="grid gap-4 items-center text-center justify-items-center w-full">
            <div class="w-17 h-17 bg-[#dc2626] rounded-full text-white flex items-center justify-center text-xl font-bold">
                4
            </div>
            <p class="font-bold text-xl">Measurable Impact</p>
            <p class="text-md text-gray-600">Deliver quantifiable results that drive growth and optimize performance</p>
        </div>
    </div>
</div>

<div class="trial-bg inter text-center p-10 xl:p-20">
    <!-- <p class="font-bold text-2xl xl:text-4xl text-white">Ready to Transform Your Digital Signage?</p> -->
    <span class="text-2xl xl:text-4xl font-light text-center text-white">Ready to transform your <span class="font-bold">audience insights?</span></span>
    <p class="text-md xl:text-xl text-white mt-10">
        Discover how Calton Datx can help you measure, understand, and optimize your audience engagement like never before. 
    </p>

    <div class="flex flex-wrap xl:flex-nowrap justify-center gap-4 text-white mt-7 xl:mt-15 text-md xl:text-lg">
        <button class="p-3 xl:p-6 pr-10 pl-10 bg-white rounded-md text-[#2f6aec] font-semibold w-full xl:w-auto shadow-lg">Get Started Today</button>
        <button class="p-3 xl:p-6 pr-10 pl-10 border-2 rounded-md hover:bg-white hover:text-[#2f6aec] hover:cursor-pointer font-semibold w-full xl:w-auto">Learn More</button>
    </div>
</div>

<app-footer/>