.trial-bg{
    background: #3657E6;
    background: linear-gradient(90deg, rgba(54, 87, 230, 1) 5%, rgba(121, 38, 208, 1) 100%);
}

.trial-bg-reverse{
    background: #3657E6;
    background: linear-gradient(90deg, rgb(107, 54, 230) 1%, rgba(54, 87, 230, 1) 100%);
}